body {
  background-repeat: no-repeat; /* Tidak mengulang gambar di latar belakang */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #cecece; /* Warna abu-abu sebagai latar belakang body */
}

h1 {
  margin-top: 0;
}

.section {
  margin-bottom: 30px;
}

.section-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #1e86f5;
}

#atas {
  margin-top: 3%;
}

.section-content {
  margin-left: 20px;
}

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-info li {
  margin-bottom: 5px;
}

/* Desain tambahan */
.container {
  max-width: 600px;
  margin: 0 auto;
}

.header {
  background-color: #007bff; /* Warna biru pada header */
  padding: 20px;
  text-align: center;
}

.header h1,
h2 {
  color: #fff; /* Warna teks putih pada header */
}

.footer {
  background-color: #007bff;
  padding: 10px;
  text-align: center;
}
.footer-title {
  color: #fff;
}
.footer p {
  margin: 0;
  color: #fff;
}
